* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
}

.nav-bar {
  background-color: #fff;
  border-bottom: solid 1px #ccc;
  padding: 1.6rem 0;
  position: sticky;
  top: 0;
  z-index: 1;
}

.nav-bar__container {
  width: 90%;
  margin: 0 auto;
}

.nav-bar__mobile-display {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar__title {
  color: #2e282a;
  font-size: 3.6rem;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1em;
}

.nav-bar__hamburger {
  border: solid 1px #ccc;
  border-radius: 0.3em;
  cursor: pointer;
  height: 3.6rem;
  padding: 0.5rem;
  transition: border-color ease-in 0.2s;
}

.nav-bar__hamburger--active {
  border-color: #2e282a;
}

.nav-bar__links {
  display: none;
}

.nav-bar__links ul {
  list-style: none;
}

.nav-bar__link {
  color: #2e282a;
  font-size: 2.4rem;
  font-weight: 600;
  text-decoration: none;
  transition: color ease-in 0.2s;
}

.nav-bar__link--active {
  color: #43c59e;
}

.nav-bar__links li:not(:last-child) {
  border-bottom: solid 1px #ddd;
}

.nav-bar__links--expanded {
  display: block;
  margin-top: 1rem;
}

#main-heading {
  color: #43c59e;
  font-family: "Roboto Slab", serif;
  font-size: 7.2rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  line-height: 1em;
  margin-bottom: 2.4rem;
}

.page-section {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  scroll-margin-top: 6.9rem;
}

.page-section:nth-of-type(even) {
  background-color: #2e282a;
}

.page-section__container {
  width: 90%;
  margin: 0 auto;
  padding: 2.4rem 0;
  opacity: 70%;
  transition: opacity ease-in 0.2s;
}

.page-section--active .page-section__container {
  opacity: 100%;
}

.page-section__heading {
  color: #3d7068;
  font-family: "Roboto Slab", serif;
  font-size: 5.4rem;
  font-weight: 700;
  line-height: 1em;
  margin-bottom: 1.6rem;
  transition: padding-left ease-in 0.2s, border-left 0.2s 0.2s;
}

.page-section:nth-of-type(even) .page-section__heading {
  color: #cd5334;
}

.page-section--active .page-section__heading {
  padding-left: 2rem;
  border-left: solid 1rem #3d7068;
}

.page-section--active:nth-of-type(even) .page-section__heading {
  border-left: solid 1rem #cd5334;
}

.page-section__description {
  color: #2e282a;
  font-size: 2.4rem;
  margin-bottom: 2rem;
}

.page-section:nth-of-type(even) .page-section__description {
  color: #fff;
}

.page-section__image {
  width: 100%;
}

@media (min-width: 576px) {
  .nav-bar__container,
  .page-section__container {
    max-width: 54rem;
  }
}

@media (min-width: 768px) {
  .nav-bar__container {
    display: flex;
    justify-content: space-between;
    max-width: 72rem;
  }

  .nav-bar__links {
    display: block;
  }

  .nav-bar__links ul {
    display: flex;
  }

  .nav-bar__links li:not(:last-child) {
    border-bottom: none;
    margin-right: 2rem;
  }

  .nav-bar__hamburger {
    display: none;
  }

  .page-section__container {
    max-width: 72rem;
  }
}

@media (min-width: 992px) {
  .nav-bar__container {
    max-width: 96rem;
  }

  .page-section__container {
    max-width: 96rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
    align-items: center;
  }

  .page-section:nth-of-type(even) .page-section__text-content {
    grid-column: 2 / 3;
    grid-row: 1 / span 1;
  }

  .page-section:nth-of-type(even) .page-section__image {
    grid-column: 1 / 2;
    grid-row: 1 / span 1;
  }
}

@media (min-width: 1200px) {
  .nav-bar__container,
  .page-section__container {
    max-width: 114rem;
  }
}
